@charset "utf-8";

@font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard';
    font-size: 20px;
    color: #333;
    line-height: 1.5;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: #000;
    font-size: 50px;
}

/* 내비 */


.header_in {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 {
    display: flex;
}

.nav1>li>a {
    display: block;
    margin: 40px;
    font-size: 25px;
    font-weight: 700;
}

.nav2 {
    display: flex;
    gap: 20px;
    color: #333;
}

.nav1>li:hover>a {
    color: #499D22;
}

.nav2 a:hover {
    text-decoration: 1px #23A7E3 underline;
    color: #23A7E3;
}

/* 서브내비 */
.sub {
    position: absolute;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 100;
}

.sub a {
    display: block;
    padding: 20px 30px;
    color: #000;
    border-bottom: 1px solid #999;
    font-weight: 500;
}

.nav1>li {
    position: relative;
}

.sub a:hover {
    background-color: #000;
    color: #499D22;
}

.nav1 li:hover .sub {
    display: block;
}

/* 서브내비 */

/* 내비 */

/* 탑 텍스트 */
.top_text{
    border-bottom: 2px solid #000;
}
.top_text_flex{
    width: 1320px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.top_text_flex p{
    color: #666;
    text-align: right;
}
/* 탑 텍스트 */

/* about us 배너 */
.about_us_banner img{
    width: 100%;
    display: block;
}
/* about us 배너 */

/* 박스1 */
.box1{
    background-color: #000;
}
.box1_in{
    width: 1320px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.box1_right{
    display: flex;
    align-items: center;
}
.box1_right_text1 p{
    color: #fff;
    font-size: 25px;
    margin: 30px 180px 30px 0;
    font-weight: 700;
}
.box1_right_text2 p{
    /* color: #CDD56D; */
    font-size: 50px;
    font-weight: 700;
    text-align: right;
}
.box1_right_text2 span{
    color: #fff;
    font-weight: 500;
}
.box1_left h1{
    color: #fff;
}
.blue{
    color: #23A7E3;
}
.green{
    color: #499D22;
}
.box1_right_text2 .green2{
    color: #CDD56D;
    font-weight: 600;
}
.box1_right_text2{
    width: 195px;
}
/* 박스1 */

/* 박스2 */
.box2{
    width: 1320px;
    margin: 210px auto;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    overflow: hidden;
}
.box2 h2{
    font-size: 70px;
    color: #000;
    line-height: 1.3;
}
.mark{
    background-color: #23A7E3;
    color: #fff;
    padding: 0 10px;
}
/* 박스2 */

/* 박스3 */
.box3{
    width: 1320px;
    margin: auto;
    text-align: center;
}
.box3_text{
    font-size: 95px;
    color: #000;
    font-weight: 800;
}
.box3_img{
    font-size: 125px;
    color: #000;
    font-weight: 800;
}
/* 박스3 */

/* 박스4 */
.box4{
    width: 1320px;
    margin: 210px auto;
}
.box4 h1{
    text-decoration: underline;
}
.box4 p{
    margin: 40px 0;
}
.box4_in p{
    margin-top: 10px;
}
.box4_in ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.box4_in ul h3{
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0 5px 0;
    color: #000;
}
.box4 ul li div{
    overflow: hidden;
}
.box4_in ul li:hover img{
    transform: scale(1.2, 1.2);
}
.box4_in ul li img{
    display: block;
    transition: 0.8s;
    width: 310px;
    height: 317px;
}
/* 박스4 */

/* 박스5 */
.box5{
    /* width: 1920px; */
    margin: auto;
    position: relative;
    height: auto;
}
.box5_text{
    font-size: 6.5vw;
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    text-align: center;
    position: relative;
    z-index: 3;
}
.box5_img{
    width: 1320px;
    margin: auto;
}
.box5_img1{
    position: absolute;
    left: 50px;
    bottom: 115px;
    z-index: -100;
}
.box5_img2{
    position: absolute;
    left: 500px;
    bottom: 115px;
    z-index: -100;
}
.box5_img3{
    position: absolute;
    right: 50px;
    bottom: 115px;
    z-index: -100;
}
.box_up_down{
    animation: up-down 1.4s infinite ease-in-out alternate;
}
  
  @keyframes up-down{
    from{
      transform: translatey(0px);
    }
    to{
      transform: translatey(-20px);
    }
}
.box5_text span {
	opacity: 0;
}

.box5 .box5_text .ti-cursor{
    display: none;
}
/* 박스5 */

/* 박스6 */
.box6{
    background-color: #000;
    margin: 210px 0;
    overflow: hidden;
}
.box6_in{
    width: 1920px;
    height: 1036px;
    background: url(../about_us_images/box6_bg.png) no-repeat 50% 50%;
}
.box6 h1{
    color: #fff;
    padding: 85px 0 50px 0;
}
.box6 p{
    color: #fff;
    margin-bottom: 112px;
}
.box6_in{
    width: 1320px;
    margin: auto;
}
.box6_img{
    text-align: right;
    margin-left: 293px;
}
.box6_img ul li{
    margin-bottom: 15px;
}
/* 박스6 */

/* 박스7 */
.box7{
    width: 1320px;
    margin: auto;
}
.box7_text1, .box7_text2, .box7_text3{
    font-size: 150px;
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    position: relative;
}
.box7_text2 img{
    position: absolute;
    left: 485px;
    bottom: 0;
}
.box7_text2{
    text-align: right;
}
.box7_text3{
    text-align: right;
}
.box7_up_down{
    animation: up-down 1.4s infinite ease-in-out alternate;
}
  
  @keyframes up-down{
    from{
      transform: translatey(5px);
    }
    to{
      transform: translatey(-20px);
    }
}
.box7 h1{
    font-weight: 100;
}
/* 박스7 */

/* 박스8 */
.box8{
    width: 1320px;
    margin: 210px auto;
}
.box8_in{
    width: 1102px;
    margin: auto;
}
.box8_in h1{
    padding-bottom: 40px;
    border-bottom: 3px solid #707070;
} 
.box8 table{
    width: 80%;
    margin: 68px auto 0;
    border-collapse: collapse;
}
.box8 th, .box8 td{
    padding: 16px;
}

.box8 th{
    font-size: 29px;
    text-align: left;
    font-weight: 500;
}
.box8 input, .box8 textarea{
    background-color: #eee;
    border: #eee 1px solid;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
}
.box8 input[type="tel"]{
    width: 80px;
    text-align: center;
}
.box8 input[type="text"]{
    width: 500px;
}
.box8 input[type="email"]{
    width: 500px;
}
.box8 textarea{
    width: 600px;
    height: 300px;
    resize: none;
    font-family: 'Pretendard';
}
.checkbox input{
    display: none;
}
.checkbox .b1{
    display: inline-block;
    width: 88px;
    height: 45px;
    background: url(../about_us_images/checkbox_off_1.png);
    vertical-align: bottom;
}
.checkbox .b2{
    display: inline-block;
    width: 117px;
    height: 45px;
    background: url(../about_us_images/checkbox_off_2.png);
    vertical-align: bottom;
}
.checkbox .b3{
    display: inline-block;
    width: 88px;
    height: 45px;
    background: url(../about_us_images/checkbox_off_3.png);
    vertical-align: bottom;
}
.checkbox .b4{
    display: inline-block;
    width: 88px;
    height: 45px;
    background: url(../about_us_images/checkbox_off_4.png);
    vertical-align: bottom;
}
.checkbox label{
    margin-right: 10px;
}
.checkbox input:checked + label .b1{
    background: url(../about_us_images/checkbox_on_1.png);
}
.checkbox input:checked + label .b2{
    background: url(../about_us_images/checkbox_on_2.png);
}
.checkbox input:checked + label .b3{
    background: url(../about_us_images/checkbox_on_3.png);
}
.checkbox input:checked + label .b4{
    background: url(../about_us_images/checkbox_on_4.png);
}
.enter{
    text-align: center;
    padding: 50px 0 68px 0;
    border-bottom: #707070 3px solid;
}
.enter input{
    color: #fff;
    border: none;
    padding: 10px 50px;
}
input[type="submit"]{
    background-color: #499D22;
}
input[type="reset"]{
    background-color: #000;
}
/* 박스8 */

/* 박스9 */
.box9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../about_us_images/footer_banner.png) no-repeat center top / cover;
    height: 494px;
    color: #fff;
    text-align: center;
}
.box9 h1{
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.3;
}
/* 박스9 */

/* footer */
footer {
    background-color: #333;
}

.footer_in {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* margin-top: 110px; */
    padding: 85px 0 70px 0;
}

.footer_in img {
    margin-top: 25px;
}

.footer_text {
    display: flex;

}

.footer_left_top {
    display: flex;
    justify-content: space-between;
}

.footer_left_top li {
    font-size: 20px;
    color: #999;
}

.footer_left_top a {
    color: #999;
}

.footer_left_top a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer_left_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_left_bottom a {
    opacity: 0.4;
}

.footer_left_bottom a:hover {
    opacity: 1;
}

.footer_right {
    color: #999;
    font-size: 16px;
    margin-left: 80px;
}

/* footer */